.ServicesContainer {
  display: flex;
  flex-direction: row;
}
.ImageContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 44px;
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .ServicesContainer{
    display: block;
  }
}
