.Rectangle {
  background-color: #00799e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.InfoContainer {
  display: flex;
  flex-wrap: wrap;
}

.BankLogoContainer {
  margin-top: 166px;
}

.BannerContainer {
  display: flex;
  flex-direction: column;
}
