.Getting-loans-made-e {
  font-size: 46px;
  font-weight: 200;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-top: 154px;
  display: flex;
  padding-left: 249px;
}

.We-will-help-you-mak {
  font-size: 20px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  padding-left: 249px;
  padding-top: 11px;
  text-align: left;
  padding-bottom: 0;
}

.What-are-you-looking {
  font-size: 34px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  display: inline-block;
  color: #00799e;
  padding-top: 36px;
}

.Logos-Loan {
  display: table-cell;
  text-align: center;
}

.Our-home-is-certain {
  width: 940px;
  height: 100px;
  padding-top: 44px;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.79;
  letter-spacing: normal;
  text-align: justify;
  color: #475f67;
}

.Know-what-it-takes {
  padding-top: 40px;
  font-size: 34px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

.LoanStreet-has-done {
  padding-top: 27px;
  width: 820px;
  height: 128px;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.78;
  letter-spacing: normal;
  text-align: center;
  color: #475f67;
}

.customer-review-text {
  height: 39px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #475f67;
}

.Contact-us {
  padding-top: 65px;
  height: 23px;
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  align-items: center;
}

.Address {
  overflow: hidden;
  padding-top: 53px;
  padding-bottom: 53px;
  font-family: HelveticaNeue;
  font-size: 18px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.72;
  letter-spacing: normal;
  color: #b5d2db;
}

.Phone {
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.Email {
  padding-top: 10px;
  padding-bottom: 40px;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.Copyright {
  padding-top: 10px;
  height: 27px;
  font-family: HelveticaNeue;
  font-size: 14px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.83;
  letter-spacing: normal;
  color: #b5d2db;
}

@media screen and (max-width: 480px) {
  .Getting-loans-made-e {
    width: 126px;
  }
}
